In [13]:
%matplotlib inline
import os
os.chdir('U:\\GitHubClones\\SALTSeniorDesign')
os.getcwd()
#import Excel
import xlwings as xw
import seaborn as sb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import OrderedDict
import re
from datetime import datetime
import datetime
import statsmodels.formula.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.decomposition import PCA
from sklearn import preprocessing
import time

In [26]:
assetNum1 = set([1,2,3,4,5])
assetNum2 = set([6,7,8,2,3])
#assetNum1.symmetric_difference_update(assetNum2)
#assetNum1.intersection_update(assetNum2)

assetNum1.update(assetNum2)
#newSet
print(assetNum1)
scrap = assetNum1.copy()
scrap.symmetric_difference_update(assetNum2)
scrap

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 4, 5}

In [2]:
aggChargeOffsPath = 'U:\\GitHubClones\\SALTSeniorDesign\\' + 'AggregateChargeOffs.csv'
dfForest = pd.read_csv(aggChargeOffsPath, memory_map=True, low_memory=False)

In [3]:
dfForest.describe()

,assetNumber,originalLoanAmount,originalLoanTerm,originalInterestRatePercentage,vehicleNewUsedCode,vehicleModelYear,vehicleTypeCode,vehicleValueAmount,obligorIncomeVerificationLevelCode,obligorEmploymentVerificationCode,...,paymentToIncomePercentage,remainingTermToMaturityNumber,reportingPeriodBeginningLoanBalanceAmount,reportingPeriodActualEndBalanceAmount,totalActualAmountPaid,zeroBalanceCode,currentDelinquencyStatus,LTV,loanDiff,StateUnemployment
count,2.352800e+04,23528.000000,23528.000000,23528.000000,23528.000000,23528.000000,23528.000000,23528.000000,23528.000000,23528.000000,...,23528.000000,23528.000000,23528.000000,23528.0,23528.000000,23528.000000,23528.000000,23528.000000,23528.000000,23528.000000
mean,1.289726e+07,19577.652165,69.587810,0.177608,1.711025,2012.979556,1.584580,18656.788603,2.147144,2.059419,...,0.106493,52.605534,13205.529127,0.0,8591.796013,2.054573,44.839000,108.567940,6372.123038,4.391691
std,5.978332e+06,8311.746814,6.935183,0.051497,0.453296,3.144209,0.845875,8757.250229,0.355574,0.431125,...,0.040873,22.028919,10234.425265,0.0,10583.936805,1.286381,63.864491,19.743822,8715.453037,0.652134
min,7.683300e+04,4368.220000,24.000000,0.000000,1.000000,2002.000000,1.000000,4198.000000,2.000000,1.000000,...,0.001834,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,10.362491,0.000000,2.300000
25%,6.863424e+06,13636.812500,72.000000,0.149400,1.000000,2011.000000,1.000000,12300.000000,2.000000,2.000000,...,0.075803,37.000000,4655.802500,0.0,0.000000,1.000000,0.000000,98.241767,53.835000,4.000000
50%,1.645768e+07,18088.250000,72.000000,0.180000,2.000000,2014.000000,1.000000,16953.500000,2.000000,2.000000,...,0.107058,66.000000,12509.335000,0.0,4073.650000,1.000000,0.000000,110.000000,1005.075000,4.300000
75%,1.674838e+07,24099.677500,72.000000,0.210000,2.000000,2016.000000,2.000000,23100.000000,2.000000,2.000000,...,0.136408,69.000000,19440.357500,0.0,15065.132500,3.000000,113.000000,121.443970,11819.370000,4.800000
max,1.712792e+07,76292.800000,75.000000,0.287500,2.000000,2018.000000,3.000000,100927.780000,5.000000,3.000000,...,0.332123,252.000000,70372.150000,0.0,64037.240000,4.000000,322.000000,159.969182,71271.070000,7.200000

In [7]:
testDict = {
    'assetNumber':[1,2,3,4,5,6,7,8,9],
    'zeroBalanceCode':[1,1,1,1,4,3,4,4,4]
}
nextMonthDict = {
    'assetNumber':[11,13,15,1,2,3,19,20,21],
    'zeroBalanceCode':[1,1,1,1,4,3,4,4,4]
}
month1 = pd.DataFrame.from_dict(testDict, orient='columns')
month2 = pd.DataFrame.from_dict(nextMonthDict, orient='columns')

In [5]:
month1

   assetNumber  zeroBalanceCode
0            1                1
1            2                1
2            3                1
3            4                1
4            5                4
5            6                3
6            7                4
7            8                4
8            9                4

In [23]:
assetNum8 = set(month1['assetNumber'])
assetNum8

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
newDict = month1.to_dict('index')
newDict

{0: {'assetNumber': 1, 'zeroBalanceCode': 1},
 1: {'assetNumber': 2, 'zeroBalanceCode': 1},
 2: {'assetNumber': 3, 'zeroBalanceCode': 1},
 3: {'assetNumber': 4, 'zeroBalanceCode': 1},
 4: {'assetNumber': 5, 'zeroBalanceCode': 4},
 5: {'assetNumber': 6, 'zeroBalanceCode': 3},
 6: {'assetNumber': 7, 'zeroBalanceCode': 4},
 7: {'assetNumber': 8, 'zeroBalanceCode': 4},
 8: {'assetNumber': 9, 'zeroBalanceCode': 4}}

In [ ]:
def present(lis):
    for i in range(0, len(lis)):
        if lis[i] in testDict[]