In [1]:
import os
os.chdir('C:\\Users\\amcdonne\\Downloads\\ABS')
os.getcwd()
#import Excel
import xlwings as xw
import seaborn as sb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import OrderedDict

import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import plotly.plotly as py
import plotly
from ipywidgets import widgets 
from IPython.display import display

from plotly.widgets import GraphWidget
plotly.tools.set_credentials_file(username='amcdonne', api_key='TgHHDa2sn3SAj65ZH0dz')

ModuleNotFoundError: No module named 'dash'

In [2]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 1000)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [8]:
path = 'C:\\Users\\amcdonne\\Downloads\\ABS\\' + 'Month_1.csv'

In [16]:
df = pd.read_csv(path, memory_map=True, low_memory=False)

In [45]:
df.head()

   Unnamed: 0  assetNumber reportingPeriodBeginningDate reportingPeriodEndingDate originationDate  originalLoanAmount  originalLoanTerm  originalInterestRatePercentage subvented  vehicleNewUsedCode  vehicleModelYear  vehicleTypeCode  vehicleValueAmount  obligorCreditScore  obligorIncomeVerificationLevelCode  obligorEmploymentVerificationCode  coObligorIndicator  paymentToIncomePercentage obligorGeographicLocation  remainingTermToMaturityNumber  reportingPeriodBeginningLoanBalanceAmount  reportingPeriodActualEndBalanceAmount  totalActualAmountPaid zeroBalanceCode  currentDelinquencyStatus   pctDeal         LTV   FicoScore           APR           PTI
0           0      6345520                     5/1/2017                 5/31/2017          Oct-13            28203.21                72                          0.1932         1                   1              2013                3             23109.0               592.0                                   2                                  2               False                   0.139531                        MI                             31                                   17115.35                               16672.09                 669.75               -                         0  0.000012  [1.2, 1.3)  [560, 620)  [0.16, 0.20)  [0.12, 0.14)
1           1      6345701                     5/1/2017                 5/31/2017          Nov-13            13786.00                72                          0.2499         0                   2              2009                1             11998.0               570.0                                   2                                  2                True                   0.138530                        SC                             37                                   12184.17                               12151.05                 380.00               -                         0  0.000009  [1.1, 1.2)  [560, 620)  [0.24, 0.28)  [0.12, 0.14)
2           2      6345822                     5/1/2017                 5/31/2017          Nov-13            12515.00                60                          0.2100         0                   2              2003                3             11998.0               574.0                                   2                                  2                True                   0.077623                        CO                             28                                   10288.10                               10124.13                 341.54               -                         0  0.000007  [1.0, 1.1)  [560, 620)  [0.20, 0.24)  [0.06, 0.08)
3           3      6346124                     5/1/2017                 5/31/2017          Oct-13            16699.00                60                          0.2100         0                   2              2007                2             15225.0               629.0                                   3                                  2                True                   0.114215                        OK                             19                                    7828.79                                7619.25                 434.75               -                         8  0.000006  [1.0, 1.1)  [620, 680)  [0.20, 0.24)   [0.1, 0.12)
4           4      1006458                     5/1/2017                 5/31/2017          May-12            21404.16                72                          0.2499         0                   2              2006                3             17998.0                 NaN                                   3                                  3               False                   0.154751                        NV                             16                                   10385.66                               10385.66                   0.00               -                        15  0.000008  [1.1, 1.2)    No Score  [0.24, 0.28)  [0.14, 0.16)

In [23]:
trace1 = go.Scattergl(x=df.originalInterestRatePercentage, y=df.reportingPeriodActualEndBalanceAmount, name='Original Balance',
                      mode = 'markers')

In [24]:
data=go.Data([trace1])
layout=go.Layout(title="Remaining Loan Balance vs APR", xaxis={'title':'Original APR'}, yaxis={'title':'Remaining Balance per Loan'})
figure=go.Figure(data=data,layout=layout)
py.iplot(figure, filename='Interest Rate Spread')

In [36]:
lessThan = df['originalInterestRatePercentage'][(df['originalInterestRatePercentage'] <= .2)]
greaterThan = df['originalInterestRatePercentage'][(df['originalInterestRatePercentage'] > .2)]

In [67]:
HistAPR = go.Histogram(x=df.originalInterestRatePercentage, name='APR Distribution', xbins=dict(start=0, end=0.3, size=0.005))
HistPTI = go.Histogram(x=df.paymentToIncomePercentage, name='PTI Distribution')
#Histtrace2 = go.Histogram(x=lessThan , histnorm='probability', name='APR Distribution')

In [69]:
data = [HistAPR, HistPTI]
updatemenus = list([
    dict(active=-1,
        buttons=list([
            dict(label = 'APR',
                method = 'update',
                args = [{'visible': [True, False]},
                       {'title': 'APR Distribution'}]),
            dict(label = 'PTI',
                method = 'update',
                args = [{'visible': [False, True]},
                       {'title': 'PTI Distribution'}]),
        ]),
    )
])
layout = dict(title='Credit Metric Distributions', showlegend=True,
              updatemenus=updatemenus)

fig = dict(data=data, layout=layout)

py.iplot(fig, filename='Distributions')
#plotly.offline.plot(fig, auto_open=False, show_link=False)