## Settings

In [38]:
%matplotlib inline
import os
os.chdir('U:\\GitHubClones\\SALTSeniorDesign')
os.getcwd()
import Excel
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import OrderedDict
import re
from datetime import datetime

In [39]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 1000)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## Path Setup For the File System

In [40]:
path = Excel.directory + "\\" + Excel.shelf + "\\" + Excel.deal + "\\" + Excel.dfTapes[Excel.deal][0]
print(path)

U:\AutoLoanTapes\Santander Drive Auto Receivables Trust\SDART 2017-1\2017\01 January\2017.02.15_Santander Drive Auto Receivables Trust 2017-1 Data Tape.csv

*Reading in CSV File*

In [41]:
df = pd.read_csv(path, memory_map=True, low_memory=False)
total = len(df.index)
print(total)
df['reportingPeriodActualEndBalanceAmount'].sum()

66797

1224015127.290021

### Snap Shot of the Data

In [6]:
df.head()

,assetTypeNumber,assetNumber,reportingPeriodBeginningDate,reportingPeriodEndingDate,originatorName,originationDate,originalLoanAmount,originalLoanTerm,loanMaturityDate,originalInterestRatePercentage,interestCalculationTypeCode,originalInterestRateTypeCode,originalInterestOnlyTermNumber,originalFirstPaymentDate,underwritingIndicator,gracePeriodNumber,paymentTypeCode,subvented,vehicleManufacturerName,vehicleModelName,vehicleNewUsedCode,vehicleModelYear,vehicleTypeCode,vehicleValueAmount,vehicleValueSourceCode,obligorCreditScoreType,obligorCreditScore,obligorIncomeVerificationLevelCode,obligorEmploymentVerificationCode,coObligorIndicator,paymentToIncomePercentage,obligorGeographicLocation,assetAddedIndicator,remainingTermToMaturityNumber,reportingPeriodModificationIndicator,servicingAdvanceMethodCode,reportingPeriodBeginningLoanBalanceAmount,nextReportingPeriodPaymentAmountDue,reportingPeriodInterestRatePercentage,nextInterestRatePercentage,servicingFeePercentage,servicingFlatFeeAmount,otherServicerFeeRetainedByServicer,otherAssessedUncollectedServicerFeeAmount,scheduledInterestAmount,scheduledPrincipalAmount,otherPrincipalAdjustmentAmount,reportingPeriodActualEndBalanceAmount,reportingPeriodScheduledPaymentAmount,totalActualAmountPaid,actualInterestCollectedAmount,actualPrincipalCollectedAmount,actualOtherCollectedAmount,servicerAdvancedAmount,interestPaidThroughDate,zeroBalanceEffectiveDate,zeroBalanceCode,currentDelinquencyStatus,primaryLoanServicerName,mostRecentServicingTransferReceivedDate,assetSubjectDemandIndicator,assetSubjectDemandStatusCode,repurchaseAmount,DemandResolutionDate,repurchaserName,repurchaseReplacementReasonCode,chargedoffPrincipalAmount,recoveredAmount,modificationTypeCode,paymentExtendedNumber,repossessedIndicator,repossessedProceedsAmount
0,SC,"=""6345119""",01-01-2017,01-31-2017,SC,10/2013,23260.03,60,01/2019,0.1194,1,1,-,12/2013,True,2,2,0,CHEVROLET TRUCK,Traverse,2,2010,3,17589.00,98,Bureau,671,3,2,False,0.187788,AZ,-,25,False,1,11977.51,512.31,0.1194,0.1194,0.0,-,-,50.59,103.1772,413.5228,0.0,11607.02,516.70,519.25,148.76,370.49,0.0,-,01-27-2017,-,-,0,SC,-,False,-,-,-,-,-,0.0,0.0,-,0,False,-
1,SC,"=""634535""",01-01-2017,01-31-2017,SC,03/2012,12031.00,72,03/2018,0.1800,1,1,-,04/2012,True,1,2,0,MAZDA,Mazda3,2,2010,1,13575.00,98,Bureau,-,2,2,False,0.069108,TX,-,15,False,1,3658.90,284.44,0.1800,0.1800,0.0,-,-,0.00,53.2969,221.1031,0.0,3439.80,274.40,275.00,55.90,219.10,0.0,-,01-24-2017,-,-,0,SC,-,False,-,-,-,-,-,0.0,0.0,-,0,False,-
2,SC,"=""6345360""",01-01-2017,01-31-2017,SC,11/2013,21332.31,72,11/2019,0.1810,1,1,-,12/2013,True,1,2,0,DODGE TRUCK,Grand Caravan,2,2010,1,15209.00,3,Bureau,560,2,2,False,0.109852,WA,-,35,False,1,14132.08,1317.82,0.1810,0.1810,0.0,-,-,0.00,196.7817,290.9683,0.0,13850.49,487.75,491.37,209.78,281.59,0.0,-,01-07-2017,-,-,0,SC,-,False,-,-,-,-,-,0.0,0.0,-,0,False,-
3,SC,"=""6345391""",01-01-2017,01-31-2017,SC,11/2013,24544.23,72,11/2019,0.0855,1,1,-,12/2013,True,1,2,0,TOYOTA,Sienna,2,2006,1,16550.00,98,Bureau,712,2,2,False,0.007974,FL,-,35,False,1,13122.36,538.38,0.0855,0.0855,0.0,-,-,0.00,96.1377,340.8223,0.0,13122.36,436.96,0.00,0.00,0.00,0.0,-,12-30-2016,-,-,0,SC,-,False,-,-,-,-,-,0.0,0.0,-,0,False,-
4,SC,"=""634551""",01-01-2017,01-31-2017,SC,03/2012,23589.10,72,09/2018,0.1710,1,1,-,04/2012,True,1,2,0,CHEVROLET,Sonic,1,2012,1,16607.31,98,Bureau,631,3,3,False,0.074936,IL,-,21,False,1,10510.59,1210.41,0.1710,0.1710,0.0,-,-,78.09,97.8123,428.2677,0.0,10510.59,526.08,0.00,0.00,0.00,0.0,-,10-07-2016,-,-,3,SC,-,False,-,-,-,-,-,0.0,0.0,-,0,False,-

In [6]:
list(df.columns)

['assetTypeNumber',
 'assetNumber',
 'reportingPeriodBeginningDate',
 'reportingPeriodEndingDate',
 'originatorName',
 'originationDate',
 'originalLoanAmount',
 'originalLoanTerm',
 'loanMaturityDate',
 'originalInterestRatePercentage',
 'interestCalculationTypeCode',
 'originalInterestRateTypeCode',
 'originalInterestOnlyTermNumber',
 'originalFirstPaymentDate',
 'underwritingIndicator',
 'gracePeriodNumber',
 'paymentTypeCode',
 'subvented',
 'vehicleManufacturerName',
 'vehicleModelName',
 'vehicleNewUsedCode',
 'vehicleModelYear',
 'vehicleTypeCode',
 'vehicleValueAmount',
 'vehicleValueSourceCode',
 'obligorCreditScoreType',
 'obligorCreditScore',
 'obligorIncomeVerificationLevelCode',
 'obligorEmploymentVerificationCode',
 'coObligorIndicator',
 'paymentToIncomePercentage',
 'obligorGeographicLocation',
 'assetAddedIndicator',
 'remainingTermToMaturityNumber',
 'reportingPeriodModificationIndicator',
 'servicingAdvanceMethodCode',
 'reportingPeriodBeginningLoanBalanceAmount',
 'nextReportingPeriodPaymentAmountDue',
 'reportingPeriodInterestRatePercentage',
 'nextInterestRatePercentage',
 'servicingFeePercentage',
 'servicingFlatFeeAmount',
 'otherServicerFeeRetainedByServicer',
 'otherAssessedUncollectedServicerFeeAmount',
 'scheduledInterestAmount',
 'scheduledPrincipalAmount',
 'otherPrincipalAdjustmentAmount',
 'reportingPeriodActualEndBalanceAmount',
 'reportingPeriodScheduledPaymentAmount',
 'totalActualAmountPaid',
 'actualInterestCollectedAmount',
 'actualPrincipalCollectedAmount',
 'actualOtherCollectedAmount',
 'servicerAdvancedAmount',
 'interestPaidThroughDate',
 'zeroBalanceEffectiveDate',
 'zeroBalanceCode',
 'currentDelinquencyStatus',
 'primaryLoanServicerName',
 'mostRecentServicingTransferReceivedDate',
 'assetSubjectDemandIndicator',
 'assetSubjectDemandStatusCode',
 'repurchaseAmount',
 'DemandResolutionDate',
 'repurchaserName',
 'repurchaseReplacementReasonCode',
 'chargedoffPrincipalAmount',
 'recoveredAmount',
 'modificationTypeCode',
 'paymentExtendedNumber',
 'repossessedIndicator',
 'repossessedProceedsAmount']

### Feature Calculation Steps

In [42]:
WA = lambda x: np.average(x, axis=0, weights = df.loc[x.index, 'reportingPeriodActualEndBalanceAmount'])

In [49]:
df['LTV'] = (df['originalLoanAmount']/df['vehicleValueAmount']) #Loan to value ratio
df['pctDeal'] = (df['reportingPeriodActualEndBalanceAmount']/(df['reportingPeriodActualEndBalanceAmount'].sum()))*100 #Individual Loan as a Percent of Current month Balance

print(df['pctDeal'].head())
df['LTV'].head()

0    0.000948
1    0.000281
2    0.001132
3    0.001072
4    0.000859
Name: pctDeal, dtype: float64

0    1.322419
1    0.886262
2    1.402611
3    1.483035
4    1.420405
Name: LTV, dtype: float64

array(['-', '4', '1', '3'], dtype=object)

## Selecting and Finding Data Characteristics

In [11]:
df['originalInterestRateTypeCode'].unique() #all of the loans are fixed rate loans
df['subvented'].unique() #1=rate, 2=cash, 0= none, 98=other
df['vehicleTypeCode'].unique() #1=car 2=truck 3=suv
df['vehicleNewUsedCode'].unique() #1=new 2=used
df['vehicleManufacturerName'].unique()
df['vehicleModelName'].unique()
df['vehicleValueAmount'].dtype #float
df['vehicleValueSourceCode'].unique() #98=other 3=KBB
df['obligorCreditScoreType'].unique() #only Bureau
df['obligorCreditScore'].dtype #float
df['obligorIncomeVerificationLevelCode'].unique() #3=Stated, verified but not to “level 4” or “level 5” 2=Stated, not verified
df['obligorEmploymentVerificationCode'].unique() # 1=not stated 2=stated not verified 3=verifited by 3rd party
df['paymentToIncomePercentage'].dtype #float
df['obligorGeographicLocation'].unique()
#df['assetAddedIndicator'].unique()
df['remainingTermToMaturityNumber'].dtype #int
df['reportingPeriodModificationIndicator'].unique()
df['servicingAdvanceMethodCode'].unique()
df['reportingPeriodBeginningLoanBalanceAmount'].dtype #float
df['totalActualAmountPaid'].dtype #float
df['actualInterestCollectedAmount'].dtype #float
df['actualPrincipalCollectedAmount'].dtype #float
df['zeroBalanceCode'].unique()
df['zeroBalanceEffectiveDate'].unique() #date at which the loan is considered dead
df['currentDelinquencyStatus'].unique() # How many days delinquent
df['assetSubjectDemandIndicator'].unique()
df['assetSubjectDemandStatusCode'].unique() #Asset has been repurchased replaced ect
df['repurchaseAmount'].unique()
df['repurchaseReplacementReasonCode'].unique() #reason why the car has thrown a zero balance code
df['chargedoffPrincipalAmount'].dtype #float
df['recoveredAmount'].dtype #float
df['modificationTypeCode'].unique() #what part of the loan has been modified
df['paymentExtendedNumber'].unique()
df['repossessedIndicator'].unique()
df['repossessedProceedsAmount'].dtype #object
df['LTV'].dtype #float
df['pctDeal'].dtype #float
df['coObligorIndicator'].value_counts()

False    43209
True     20238
Name: coObligorIndicator, dtype: int64

In [54]:
df['LTV'] = pd.to_numeric(df['LTV'], errors='coerce')

### Data Cleaning Steps

In [55]:
noScore = df[df.obligorCreditScore.isin(['-'])]
noScore['obligorCreditScore'].describe()

count     9594
unique       1
top          -
freq      9594
Name: obligorCreditScore, dtype: object

In [56]:
print(df['obligorCreditScore'].describe())
df['obligorCreditScore'] = pd.to_numeric(df['obligorCreditScore'], errors='coerce')
print(df['obligorCreditScore'].describe())

count     66797
unique      483
top           -
freq       9594
Name: obligorCreditScore, dtype: object
count    57203.000000
mean       603.404542
std         64.530552
min        385.000000
25%        562.000000
50%        600.000000
75%        637.000000
max        900.000000
Name: obligorCreditScore, dtype: float64

In [57]:
df['reportingPeriodActualEndBalanceAmount'].describe()

count    66797.000000
mean     18324.402702
std       9202.795412
min        505.800000
25%      11815.000000
50%      16428.580000
75%      23109.430000
max      72363.060000
Name: reportingPeriodActualEndBalanceAmount, dtype: float64

In [ ]:
#df['obligorCreditScore'].plot.hist(bins=100).set_xlabel('SDART 2017-1 Credit Score')
#df['LTV'].plot.hist(bins=100).set_xlabel('SDART 2017-1 LTV')
#df['originalInterestRatePercentage'].plot.hist(bins=50).set_xlabel('SDART 2017-1 APR')
#df['paymentToIncomePercentage'].plot.hist(bins=100).set_xlabel('SDART 2017-1 PTI')

### Bin Selection for Strat Tables

In [58]:
FicoBins = [-1, 440, 500, 560, 620, 680, 740, 800, 1000]
#APRBins = [0, .02 ,.04, .06, .08, .1, .12, .14, .16, 1000]
APRBins = [0, .04, .08, .12, .16, .20, .24, .28, 1000]
LTVBins = [-1, .7, .8, .9, 1, 1.1, 1.2, 1.3, 1.4, 1000]
PTIBins = [-1, .02, .04, .06, .08, .1, .12, .14, .16, 1000]

In [59]:
FicoGroup = ['[-1, 440)', '[440, 500)', '[500, 560)', '[560, 620)', '[620, 680)', '[680, 740)', '[740, 800)', '[800, 1000)']
#APRGroup = ['[0.0, 0.02)', '[0.02, 0.04)', '[0.04, 0.06)', '[0.06, 0.08)', '[0.08, 0.1)', '[0.1, 0.12)', '[0.12, 0.14)', '[0.14, 0.16)', '[0.16, 1000.0)']
APRGroup = ['[0.0, 0.04)', '[0.04, 0.08)', '[0.08, 0.12)', '[0.12, 0.16)', '[0.16, 0.20)', '[0.20, 0.24)', '[0.24, 0.28)', '[0.28, 1000)']
PTIGroup = ['[-1.0, 0.02)', '[0.02, 0.04)', '[0.04, 0.06)', '[0.06, 0.08)', '[0.08, 0.1)', '[0.1, 0.12)', '[0.12, 0.14)', '[0.14, 0.16)', '[0.16, 1000.0)']

LTVGroup = ['[-1.0, 0.7)', '[0.7, 0.8)', '[0.8, 0.9)', '[0.9, 1.0)', '[1.0, 1.1)', '[1.1, 1.2)', '[1.2, 1.3)', '[1.3, 1.4)', '[1.4, 1000.0)']

### Cutting the Data Based on Bin Size

In [60]:
df['Fico Group'] = pd.cut(df['obligorCreditScore'], FicoBins, right=True, labels=FicoGroup)
#df['APR Group'] = pd.cut(df['originalInterestRatePercentage'], APRBins, labels=APRGroup)
df['APR Group'] = pd.cut(df['originalInterestRatePercentage'], APRBins, labels=APRGroup)
df['PTI Group'] = pd.cut(df['paymentToIncomePercentage'], PTIBins, labels=PTIGroup)
df['LTV Group']= pd.cut(df['LTV'], LTVBins, labels=LTVGroup)

In [61]:
df['LTV Group']

0           [1.3, 1.4)
1           [0.8, 0.9)
2        [1.4, 1000.0)
3        [1.4, 1000.0)
4        [1.4, 1000.0)
5           [1.2, 1.3)
6           [1.1, 1.2)
7           [1.3, 1.4)
8           [1.2, 1.3)
9           [1.1, 1.2)
10       [1.4, 1000.0)
11          [1.3, 1.4)
12          [1.3, 1.4)
13          [1.1, 1.2)
14          [1.2, 1.3)
15          [1.1, 1.2)
16       [1.4, 1000.0)
17          [1.1, 1.2)
18          [0.9, 1.0)
19          [1.0, 1.1)
20       [1.4, 1000.0)
21          [1.2, 1.3)
22          [1.2, 1.3)
23          [0.8, 0.9)
24          [1.0, 1.1)
25          [1.1, 1.2)
26       [1.4, 1000.0)
27          [1.3, 1.4)
28          [1.1, 1.2)
29          [1.0, 1.1)
30          [1.3, 1.4)
31          [1.1, 1.2)
32          [1.1, 1.2)
33          [1.0, 1.1)
34          [1.2, 1.3)
35          [1.2, 1.3)
36          [1.0, 1.1)
37          [1.2, 1.3)
38          [0.7, 0.8)
39          [1.3, 1.4)
40          [1.2, 1.3)
41          [1.3, 1.4)
42          [0.7, 0.8)
43          [1.0, 1.1)
44          [1.0, 1.1)
45          [0.9, 1.0)
46          [1.3, 1.4)
47          [1.1, 1.2)
48          [1.3, 1.4)
49          [0.8, 0.9)
50          [1.3, 1.4)
51          [1.0, 1.1)
52          [1.2, 1.3)
53          [1.3, 1.4)
54          [1.0, 1.1)
55          [1.0, 1.1)
56          [1.0, 1.1)
57          [1.2, 1.3)
58          [1.3, 1.4)
59          [1.3, 1.4)
60       [1.4, 1000.0)
61          [1.3, 1.4)
62          [1.2, 1.3)
63          [1.0, 1.1)
64          [1.2, 1.3)
65          [1.3, 1.4)
66          [0.8, 0.9)
67          [1.2, 1.3)
68          [1.0, 1.1)
69          [1.2, 1.3)
70          [1.2, 1.3)
71          [1.3, 1.4)
72          [1.3, 1.4)
73       [1.4, 1000.0)
74          [1.3, 1.4)
75          [1.1, 1.2)
76          [1.3, 1.4)
77          [1.0, 1.1)
78         [-1.0, 0.7)
79          [1.2, 1.3)
80          [0.9, 1.0)
81          [1.1, 1.2)
82          [1.2, 1.3)
83          [1.3, 1.4)
84          [1.1, 1.2)
85          [1.0, 1.1)
86          [0.9, 1.0)
87          [0.9, 1.0)
88          [0.9, 1.0)
89          [1.2, 1.3)
90          [1.1, 1.2)
91          [1.1, 1.2)
92          [1.2, 1.3)
93          [1.1, 1.2)
94          [0.9, 1.0)
95          [1.2, 1.3)
96          [1.2, 1.3)
97          [1.1, 1.2)
98          [1.0, 1.1)
99          [1.0, 1.1)
             ...
66697       [1.3, 1.4)
66698       [0.8, 0.9)
66699       [1.0, 1.1)
66700       [1.2, 1.3)
66701       [1.2, 1.3)
66702       [1.2, 1.3)
66703       [0.9, 1.0)
66704       [1.2, 1.3)
66705       [0.9, 1.0)
66706       [0.9, 1.0)
66707       [1.2, 1.3)
66708       [1.0, 1.1)
66709      [-1.0, 0.7)
66710       [1.0, 1.1)
66711      [-1.0, 0.7)
66712       [1.2, 1.3)
66713       [1.2, 1.3)
66714       [1.2, 1.3)
66715       [0.8, 0.9)
66716       [1.0, 1.1)
66717       [1.0, 1.1)
66718       [1.0, 1.1)
66719       [1.2, 1.3)
66720       [1.3, 1.4)
66721       [1.3, 1.4)
66722       [1.0, 1.1)
66723       [1.3, 1.4)
66724       [1.1, 1.2)
66725       [1.0, 1.1)
66726       [0.8, 0.9)
66727       [1.0, 1.1)
66728       [0.9, 1.0)
66729       [1.3, 1.4)
66730       [1.2, 1.3)
66731       [0.8, 0.9)
66732       [1.2, 1.3)
66733       [1.0, 1.1)
66734       [1.3, 1.4)
66735       [1.2, 1.3)
66736      [-1.0, 0.7)
66737       [1.2, 1.3)
66738       [0.9, 1.0)
66739       [1.1, 1.2)
66740       [1.2, 1.3)
66741      [-1.0, 0.7)
66742       [0.8, 0.9)
66743       [0.9, 1.0)
66744       [1.2, 1.3)
66745       [1.1, 1.2)
66746       [1.0, 1.1)
66747       [1.1, 1.2)
66748       [1.3, 1.4)
66749       [0.9, 1.0)
66750       [0.9, 1.0)
66751       [1.2, 1.3)
66752       [0.9, 1.0)
66753       [0.9, 1.0)
66754       [0.9, 1.0)
66755       [1.0, 1.1)
66756       [1.3, 1.4)
66757       [0.9, 1.0)
66758       [0.9, 1.0)
66759       [1.1, 1.2)
66760       [1.1, 1.2)
66761       [1.3, 1.4)
66762       [1.0, 1.1)
66763       [1.2, 1.3)
66764       [1.0, 1.1)
66765       [1.0, 1.1)
66766       [0.9, 1.0)
66767       [0.8, 0.9)
66768       [1.1, 1.2)
66769       [0.9, 1.0)
66770       [1.1, 1.2)
66771       [1.1, 1.2)
66772       [1.3, 1.4)
66773       [1.0, 1.1)
66774       [1.3, 1.4)
66775       [1.1, 1.2)
66776       [1.1, 1.2)
66777       [0.9, 1.0)
66778       [1.0, 1.1)
66779       [1.2, 1.3)
66780       [1.1, 1.2)
66781       [0.7, 0.8)
66782       [0.8, 0.9)
66783       [1.0, 1.1)
66784       [1.0, 1.1)
66785       [1.0, 1.1)
66786       [0.9, 1.0)
66787       [1.3, 1.4)
66788       [1.1, 1.2)
66789       [0.9, 1.0)
66790       [0.8, 0.9)
66791       [1.2, 1.3)
66792       [1.0, 1.1)
66793       [1.1, 1.2)
66794       [1.1, 1.2)
66795       [1.0, 1.1)
66796       [1.0, 1.1)
Name: LTV Group, Length: 66797, dtype: category
Categories (9, object): [[-1.0, 0.7) < [0.7, 0.8) < [0.8, 0.9) < [0.9, 1.0) ... [1.1, 1.2) < [1.2, 1.3) < [1.3, 1.4) < [1.4, 1000.0)]

#### Added No Score Category

In [23]:
df['Fico Group'] = df['Fico Group'].cat.add_categories('No Score').fillna('No Score')

In [24]:
df['Fico Group'].head()

0    [620, 680)
1      No Score
2    [500, 560)
3    [680, 740)
4    [620, 680)
Name: Fico Group, dtype: category
Categories (9, object): [[-1, 440) < [440, 500) < [500, 560) < [560, 620) ... [680, 740) < [740, 800) < [800, 1000) < No Score]

### Ordered Dictionary for Loan Characteristics in Seclected Bins

In [62]:
a = OrderedDict([
    ('assetNumber',['count']),
    ('reportingPeriodActualEndBalanceAmount', ['sum','mean']),
    ('pctDeal', ['sum']),
    ('originalLoanTerm',[WA]),
    ('originalInterestRatePercentage',[WA])
])

In [57]:
df[['assetNumber', 'pctDeal','reportingPeriodActualEndBalanceAmount','originalLoanTerm','originalInterestRatePercentage']].groupby([df['Fico Group'], df['APR Group4']]).agg(a)

                         assetNumber reportingPeriodActualEndBalanceAmount                  pctDeal originalLoanTerm originalInterestRatePercentage
                               count                                   sum          mean        sum         <lambda>                       <lambda>
Fico Group  APR Group4
[-1, 440)   [0.08, 0.12)           2                          3.707164e+04  18535.820000   0.003808        74.113460                       0.117443
            [0.12, 0.16)           9                          1.168860e+05  12987.332222   0.012006        70.663388                       0.143945
            [0.16, 0.20)          40                          5.216711e+05  13041.777250   0.053582        71.150105                       0.181397
            [0.20, 0.24)          48                          5.230345e+05  10896.552292   0.053722        70.956498                       0.217354
            [0.24, 0.28)          27                          2.796532e+05  10357.525556   0.028724        68.795704                       0.252990
[440, 500)  [0.0, 0.04)            1                          1.127083e+04  11270.830000   0.001158        72.000000                       0.039000
            [0.04, 0.08)          14                          2.154939e+05  15392.423571   0.022134        72.619339                       0.068430
            [0.08, 0.12)          61                          1.019707e+06  16716.515902   0.104736        72.079275                       0.103020
            [0.12, 0.16)         205                          3.298666e+06  16091.052488   0.338811        71.569338                       0.145090
            [0.16, 0.20)         757                          9.883595e+06  13056.267952   1.015159        71.232997                       0.180749
            [0.20, 0.24)         640                          7.294430e+06  11397.547547   0.749222        70.740058                       0.217108
            [0.24, 0.28)         343                          3.413102e+06   9950.735802   0.350565        70.250083                       0.255185
            [0.28, 1000)           1                          1.479680e+03   1479.680000   0.000152        60.000000                       0.291700
[500, 560)  [0.0, 0.04)            9                          1.118481e+05  12427.570000   0.011488        71.128167                       0.033289
            [0.04, 0.08)         175                          3.308494e+06  18905.677943   0.339820        71.628673                       0.069268
            [0.08, 0.12)         838                          1.695862e+07  20237.016551   1.741846        71.684470                       0.103839
            [0.12, 0.16)        1992                          3.588122e+07  18012.662610   3.685416        71.889690                       0.144105
            [0.16, 0.20)        4405                          6.625491e+07  15040.841750   6.805143        71.324167                       0.178814
            [0.20, 0.24)        2278                          2.733928e+07  12001.439662   2.808059        70.264688                       0.216580
            [0.24, 0.28)         696                          7.209812e+06  10358.925302   0.740531        69.976394                       0.254603
            [0.28, 1000)           1                          1.110304e+04  11103.040000   0.001140        72.000000                       0.290200
[560, 620)  [0.0, 0.04)           99                          2.107045e+06  21283.281414   0.216418        71.363852                       0.031867
            [0.04, 0.08)         760                          1.737881e+07  22866.855079   1.785004        72.494772                       0.067985
            [0.08, 0.12)        2921                          6.133934e+07  20999.430924   6.300258        72.159379                       0.102630
            [0.12, 0.16)        6050                          1.119243e+08  18499.876202  11.495912        71.891732                       0.141894
            [0.16, 0.20)        8247                          1.275927e+08  15471.401785  13.105237        71.098863                       0.178134
            [0.20, 0.24)        3042                          3.734270e+07  12275.706397   3.835526        70.030973                       0.214914
            [0.24, 0.28)         438                          4.395201e+06  10034.705731   0.451438        69.085792                       0.253141
[620, 680)  [0.0, 0.04)           78                          1.632756e+06  20932.762821   0.167703        70.688439                       0.033401
            [0.04, 0.08)         464                          9.844047e+06  21215.618470   1.011097        71.165857                       0.068664
            [0.08, 0.12)        2435                          5.300090e+07  21766.283791   5.443804        71.930542                       0.105291
            [0.12, 0.16)        4080                          8.134992e+07  19938.705105   8.355575        71.899626                       0.140402
            [0.16, 0.20)        4653                          7.657390e+07  16456.889052   7.865023        71.109182                       0.177897
            [0.20, 0.24)         980                          1.270783e+07  12967.173959   1.305241        70.409737                       0.211684
            [0.24, 0.28)          80                          9.445965e+05  11807.455625   0.097021        69.559444                       0.251454
[680, 740)  [0.0, 0.04)          195                          3.734127e+06  19149.368667   0.383538        69.237468                       0.031975
            [0.04, 0.08)         252                          4.865198e+06  19306.340516   0.499712        69.802270                       0.068764
            [0.08, 0.12)         658                          1.288465e+07  19581.539103   1.323402        70.892600                       0.102465
            [0.12, 0.16)        1007                          2.028212e+07  20141.132532   2.083208        71.739273                       0.142313
            [0.16, 0.20)        1059                          1.748101e+07  16507.087620   1.795501        71.027749                       0.175738
            [0.20, 0.24)          88                          1.122636e+06  12757.228409   0.115308        69.934418                       0.212513
            [0.24, 0.28)           9                          1.347810e+05  14975.663333   0.013844        72.000000                       0.253309
[740, 800)  [0.0, 0.04)          173                          3.300203e+06  19076.319538   0.338969        69.705874                       0.031778
            [0.04, 0.08)         103                          1.998213e+06  19400.128252   0.205240        70.640087                       0.066582
            [0.08, 0.12)         232                          4.913254e+06  21177.820431   0.504648        70.723884                       0.101360
            [0.12, 0.16)         293                          5.414973e+06  18481.136655   0.556180        70.970601                       0.139119
            [0.16, 0.20)         117                          1.896666e+06  16210.820342   0.194809        71.209248                       0.171781
            [0.20, 0.24)           2                          9.218740e+03   4609.370000   0.000947        60.000000                       0.234838
            [0.24, 0.28)           1                          8.655950e+03   8655.950000   0.000889        72.000000                       0.250000
[800, 1000) [0.0, 0.04)          208                          4.113778e+06  19777.779327   0.422532        68.776912                       0.028942
            [0.04, 0.08)         192                          3.750326e+06  19532.950469   0.385202        69.839905                       0.069743
            [0.08, 0.12)         241                          4.591105e+06  19050.226971   0.471559        71.126354                       0.096005
            [0.12, 0.16)          72                          1.198493e+06  16645.734444   0.123099        70.836165                       0.138524
            [0.16, 0.20)           2                          4.771833e+04  23859.165000   0.004901        72.000000                       0.174669
            [0.20, 0.24)           1                          2.666937e+04  26669.370000   0.002739        72.000000                       0.208500
No Score    [0.0, 0.04)           12                          1.722928e+05  14357.737500   0.017696        66.579348                       0.027770
            [0.04, 0.08)          66                          9.868955e+05  14952.961364   0.101366        70.408729                       0.066768
            [0.08, 0.12)         242                          3.290786e+06  13598.288678   0.338002        68.546440                       0.104059
            [0.12, 0.16)         591                          8.123830e+06  13745.905330   0.834411        69.640106                       0.145115
            [0.16, 0.20)        2393                          3.207953e+07  13405.571295   3.294938        70.823181                       0.180291
            [0.20, 0.24)        3321                          3.709318e+07  11169.279082   3.809897        69.840718                       0.221262
            [0.24, 0.28)        1884                          1.809858e+07   9606.463089   1.858933        69.745700                       0.254789
            [0.28, 1000)           2                          2.388008e+04  11940.040000   0.002453        72.000000                       0.284740

In [63]:
stratTable = df[['assetNumber', 'pctDeal','reportingPeriodActualEndBalanceAmount','originalLoanTerm', 'originalInterestRatePercentage']].groupby([df['LTV Group']]).agg(a)
lis = ['Fico Group', 'APR Group', 'LTV Group', 'PTI Group']
#for i in range(0, len(lis)):
#    stratTable = df[['assetNumber', 'pctDeal','reportingPeriodActualEndBalanceAmount','originalLoanTerm', 'originalInterestRatePercentage']].groupby([df[lis[i]]]).agg(a)

stratTable.columns = ['Loan Count', 'Sum of Remaining Balance', 'Average Remaining Balance', 'Sum of Total Loan Balance Percentage', 'Weighted Average Original Term','Weighted Average APR']
stratTable.to_clipboard()

### Formatting Rules

In [ ]:
("%.2f%%" % df['LTV'])