In [1]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go

In [12]:
D_2017_1_01 = 'https://raw.githubusercontent.com/Amcdonne95/SeniorDesignData/master/Drive%20Auto%20Receivables%20Trust/DRIVE%202017-1/2017/05%20May/2017.06.15_Drive%20Auto%20Receivables%20Trust%202017-1%20Data%20Tape.csv'

In [128]:
df = pd.read_csv(D_2017_1_01, memory_map=True, low_memory=False)

In [103]:
groupDict = {
    'vehicleNewUsedCode':{
        1:'New',
        2:'Used'
    },
    'vehicleTypeCode':{
        1:'Car',
        2:'Truck',
        3:'SUV',
        4:'Motorcycle',
        98:'Other',
        99:'Unknown'
    },
    'subvented':{
        0:'Not Subvented',
        1:'Rate Subvented',
        2:'Cash Subvented',
        3:'Rate & Cash Subvented',
        98:'Other Subvention'
    },
    'obligorIncomeVerificationLevelCode':{
    1:'Not Stated, Not Verified',
    2:'Not Verified',
    3:'Verified',
    4:'Verified: 12 M',
    5:'Verified: 24 M'
    },
    'obligorEmploymentVerificationCode':{
    1:'Not Stated, Not Verified',
    2:'Not Verified',
    3:'Third Party Verified'
    }
    #'vehicleValueAmount':
}

In [133]:
def mapData(deal, mapDict, col_list):
    for i in col_list:
        # deal[str(i)] = pd.to_numeric(deal[str(i)], errors='coerce')
        deal[str(i)] = deal[str(i)].map(mapDict[str(i)])
    return deal


def calculate_metrics(data):
    WA = lambda x: np.average(x, axis=0, weights=data.loc[x.index, 'reportingPeriodActualEndBalanceAmount'])*100
    data['pctDeal'] = (data['reportingPeriodActualEndBalanceAmount'] / (data['reportingPeriodActualEndBalanceAmount'].sum()))
    data['LTV'] = (data['originalLoanAmount'] / data['vehicleValueAmount'])*100
    return data

def static_table(data, mappingDict):
    WA = lambda x: np.average(x, axis=0, weights=data.loc[x.index, 'reportingPeriodActualEndBalanceAmount'])
    metric = ['vehicleNewUsedCode', 'vehicleManufacturerName', 'vehicleModelName', 'vehicleModelYear',
              'vehicleTypeCode', 'obligorGeographicLocation',
              'obligorIncomeVerificationLevelCode', 'obligorEmploymentVerificationCode', 'subvented',
              'originalLoanTerm', 'remainingTermToMaturityNumber', 'originalInterestRatePercentage', 'LTV']
    calculate_metrics(data)
    dfStats = pd.DataFrame()
    WADict = {}

    for i in metric:
        # Cleaning Steps
        if (data[i].dtypes == 'object') and (i in ['vehicleNewUsedCode', 'vehicleModelYear', 'vehicleTypeCode',
                                                   'obligorIncomeVerificationLevelCode',
                                                   'obligorEmploymentVerificationCode', 'subvented']):
            data[i] = pd.to_numeric(data[i], errors='coerce')

            if i == 'subvented':
                data[i] = data[i].fillna(3)
                mapData(data, mappingDict, ['subvented'])

        if i == 'vehicleNewUsedCode':
            mapData(data, mappingDict, ['vehicleNewUsedCode'])
            stats = data[['pctDeal']].groupby(data[i]).sum()*100  # .reset_index()
            stats = stats.round(2)
            yearRange = [str(data['vehicleModelYear'].min()) + '-' + str(data['vehicleModelYear'].max())]
            yearRange = pd.DataFrame(yearRange, index=['Model Year Range'], columns=['pctDeal'])  # .reset_index()
            stats = stats.append(yearRange)
            dfStats = dfStats.append(stats)
            continue

        if i in ['originalLoanTerm', 'remainingTermToMaturityNumber', 'originalInterestRatePercentage', 'LTV']:
            
            #if i == 'originalLoanTerm' or 'remainingTermToMaturityNumber':
             #   WADict[i] = WA(data[i])
              #  continue
            WADict[i] = WA(data[i]) #need to rename these variables
            if i == 'originalInterestRatePercentage':
                WADict[i] = WA(data[i])*100
            if i == 'LTV':
                dfTemp = pd.DataFrame.from_dict(WADict, orient='index').rename(index={'originalLoanTerm':'WA Original Term', 'remainingTermToMaturityNumber':'WA Remaining Term', 'originalInterestRatePercentage':'WA APR','LTV':'WA LTV'}, columns={0: 'pctDeal'}).round(2)
                # print(dfTemp)
                dfStats = dfStats.append(dfTemp)
            continue

        if i == 'vehicleTypeCode':
            mapData(data, mappingDict, ['vehicleTypeCode'])
        if i in ['obligorIncomeVerificationLevelCode', 'obligorEmploymentVerificationCode']:
            mapData(data, mappingDict, [i])

        stats = (data[['pctDeal']].groupby(data[i]).sum()).sort_values(['pctDeal'], ascending=False).head(3)*100
        stats = stats.round(2)

        if len(stats.index) != 3:
            for i in range(0, (3 - len(stats.index))):
                paddedRow = pd.DataFrame(['--'], index=['--'], columns=['pctDeal'])
                stats = stats.append(paddedRow)

        dfStats = dfStats.append(stats)

    return dfStats.reset_index()

In [130]:
table_data = static_table(df, groupDict)

In [131]:
table_data

                       index    pctDeal
0                        New      24.09
1                       Used      75.91
2           Model Year Range  2002-2018
3                     NISSAN      13.73
4                     TOYOTA       8.44
5                  CHEVROLET       7.94
6                     Altima       4.26
7                   Ram 1500       3.06
8                     Sentra       2.97
9                       2017      18.95
10                      2014      17.73
11                      2016      15.41
12                       Car      59.98
13                       SUV      27.44
14                     Truck      12.58
15                        TX       15.7
16                        FL      11.11
17                        GA        7.5
18              Not Verified       84.1
19                  Verified       15.9
20                         -          -
21              Not Verified       81.4
22      Third Party Verified      13.29
23  Not Stated, Not Verified       5.31
24             Not Subvented       97.5
25            Rate Subvented       2.41
26     Rate & Cash Subvented       0.08
27          WA Original Term      69.95
28         WA Remaining Term      68.33
29                    WA APR      19.28
30                    WA LTV      108.6

In [16]:
table_data['index'].iloc[0:3]

0                 new
1                used
2    Model Year Range
Name: index, dtype: object

In [ ]:
trace = go.Table(
    header=dict(values=df.columns,
                fill = dict(color='#C2D4FF'),
                align = ['left'] * 5),
    cells=dict(values=[df.Rank, df.State, df.Postal, df.Population],
               fill = dict(color='#F5F8FF'),
               align = ['left'] * 5))

data = [trace] 
py.iplot(data, filename = 'pandas_table')

In [18]:
trace1 = go.Table(
    header=dict(values=['Vehicle Stats','Percent of Deal']),
    cells=dict(values=[[table_data['index'].iloc[0:3]], [table_data['pctDeal'].iloc[0:3]]])
)
data = [trace1] 
py.iplot(data, filename = 'basic_table')

In [139]:
headerColor = 'grey'
evenColor = 'lightgrey'
oddColor = 'white'
trace = go.Table(
    type='table',
    columnwidth=[300],
    header=dict(
        values=['Vehicle Stats','Deal (%)',
                'Make', 'Deal (%)',
                'Model', 'Deal (%)',
                'Model Year', 'Deal (%)',
                'Vehicle Type', 'Deal (%)',
                "Obligor's State", 'Deal (%)'
               ],
        align='center',
        font = dict(color = 'black', size = 14),
        line=dict(color='black'),
        fill=dict(color=headerColor),
        height=[60]
    ),
    cells=dict(
        values=[[table_data['index'].iloc[0:3]], [table_data['pctDeal'].iloc[0:3]],
                [table_data['index'].iloc[3:6]], [table_data['pctDeal'].iloc[3:6]],
                [table_data['index'].iloc[6:9]], [table_data['pctDeal'].iloc[6:9]],
                [table_data['index'].iloc[9:12]], [table_data['pctDeal'].iloc[9:12]],
                [table_data['index'].iloc[12:15]], [table_data['pctDeal'].iloc[12:15]],
                [table_data['index'].iloc[15:18]], [table_data['pctDeal'].iloc[15:18]]
               ],
        line=dict(color='black'),
        fill=dict(color=[[oddColor, evenColor, oddColor]])
    )
)
data = [trace] 
py.iplot(data, filename = 'basic_table')

In [138]:
headerColor = 'grey'
evenColor = 'lightgrey'
oddColor = 'white'
trace2 = go.Table(
    type='table',
    columnwidth=[300],
    header=dict(
        values=['Income Verification','Deal (%)',
                'Employment Verification', 'Deal (%)',
                'Subvented', 'Deal (%)',
                'Weighted Average', 'Metrics',
                
               ],
        align='center',
        font = dict(color = 'black', size = 14),
        line=dict(color='black'),
        fill=dict(color=headerColor),
        height=[60]
    ),
    cells=dict(
        values=[[table_data['index'].iloc[18:21]], [table_data['pctDeal'].iloc[18:21]],
                [table_data['index'].iloc[21:24]], [table_data['pctDeal'].iloc[21:24]],
                [table_data['index'].iloc[24:27]], [table_data['pctDeal'].iloc[24:27]],
                [table_data['index'].iloc[27:30]], [table_data['pctDeal'].iloc[27:30]],
                
               ],
        line=dict(color='black'),
        fill=dict(color=[[oddColor, evenColor, oddColor]])
    )
)
data = [trace2]
py.iplot(data, filename = 'table2')

In [110]:
print(table_data['index'].iloc[18])
print(table_data['pctDeal'].iloc[18])

Not Verified
84.1

In [96]:
table_data

                       index    pctDeal
0                        New      24.09
1                       Used      75.91
2           Model Year Range  2002-2018
3                     NISSAN      13.73
4                     TOYOTA       8.44
5                  CHEVROLET       7.94
6                     Altima       4.26
7                   Ram 1500       3.06
8                     Sentra       2.97
9                       2017      18.95
10                      2014      17.73
11                      2016      15.41
12                       Car      59.98
13                       SUV      27.44
14                     Truck      12.58
15                        TX       15.7
16                        FL      11.11
17                        GA        7.5
18              Not Verified       84.1
19                  Verified       15.9
20                         -          -
21              Not Verified       81.4
22      Third Party Verified      13.29
23  Not Stated, Not Verified       5.31
24             Not Subvented       97.5
25            Rate Subvented       2.41
26     Rate & Cash Subvented       0.08
27          WA Original Term      69.95
28         WA Remaining Term      68.33
29                    WA APR       0.19
30                    WA LTV       1.09