In [1]:
%matplotlib inline
import os
os.chdir('U:\\GitHubClones\\SALTSeniorDesign')
os.getcwd()
#import Excel
import xlwings as xw
import seaborn as sb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import OrderedDict
import re
from datetime import datetime
import datetime
import statsmodels.formula.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.decomposition import PCA
from sklearn import preprocessing
import time
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 1000)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [7]:
path = 'C:\\Users\\amcdonne\\Downloads\\ABS\\ChargedOffData\\' + 'DRIVE_SDART_all_2017.csv'
df = pd.read_csv(path, memory_map=True, low_memory=False)
print(len(df.index))
df.head(2)

69409

   assetNumber reportingPeriodBeginningDate reportingPeriodEndingDate  originalLoanAmount  originalLoanTerm  originalInterestRatePercentage subvented  vehicleNewUsedCode  vehicleModelYear  vehicleTypeCode  vehicleValueAmount obligorCreditScore  obligorIncomeVerificationLevelCode  obligorEmploymentVerificationCode  coObligorIndicator  paymentToIncomePercentage obligorGeographicLocation  remainingTermToMaturityNumber  reportingPeriodBeginningLoanBalanceAmount  reportingPeriodActualEndBalanceAmount  totalActualAmountPaid  zeroBalanceCode  currentDelinquencyStatus         LTV  loanDiff  StateUnemployment
0     10418824                     6/1/2017                 6/30/2017            15739.00                60                            0.21         0                   2              2008                1             14250.0                  -                                   3                                  3                   1                   0.076434                        OK                             26                                    8776.39                                      0                8872.33                1                         0  110.449123   6962.61                4.3
1      1094773                     6/1/2017                 6/30/2017            15665.75                72                            0.24         0                   2              2010                1             12775.0                548                                   3                                  2                   0                   0.125043                        IA                             13                                    4739.21                                      0                4911.36                1                         0  122.628180  10926.54                3.2

In [27]:
value_lst = df['assetNumber'].value_counts() #16072391
print(value_lst.iloc[0] > 0)
value_lst.index[0]

True

16072391

In [30]:
sub_df = df[df.assetNumber.isin(['6761837'])]
sub_df['originalLoanAmount'].duplicated().iloc[1]

True

In [37]:
flagged = []
for i in range(0, len(value_lst.index)):
    if value_lst.iloc[i] > 1:
        temp_df = df[df.assetNumber.isin([value_lst.index[i]])]
        if (temp_df['originalLoanAmount'].duplicated().iloc[1]) != True:
            flagged.append(value_lst.index[i])
flagged

[]

In [ ]:
new_cols = ['actualInterestCollectedAmount','actualPrincipalCollectedAmount','actualOtherCollectedAmount',
           'zeroBalanceEffectiveDate', 'repurchaseAmount', 'chargedoffPrincipalAmount', 'recoveredAmount','repossessedIndicator',
           'repossessedProceedsAmount']